doctype html
html
	head
		title #{title}
		link(href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="stylesheets/animate.css" rel="stylesheet")
		link(href="stylesheets/style.css" rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700' rel='stylesheet' type='text/css')
block content
