extends ./header.jade

block content
	body
		.container-fluid.animated.rubberBand
			.row
				.col-md-7.col-md-offset-4.foto
					span.glyphicon.glyphicon-camera.cam
					h1.move gives me some foto

			.row
				.col-md-9.col-md-offset-3
						form(method='post', enctype='multipart/form-data')
							input(type='file', class="photo", name='image', accept='image/jpeg')
							input(type='submit', class="sendFoto", value='gimme foto')


	script(src='../vendor/jquery/dist/jquery.js')
	script(src='../vendor/bootstrap/dist/js/bootstrap.js')
	script(src='../javascripts/wut.js')






